<ion-content>
  <h3>Formulario</h3>


  <form style="margin-top: 50px;" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <formly-form [form]="formLogin" [fields]="fieldsLogin" [model]="modelLogin"></formly-form>
      <br><br>
     <a href="#" class="olvido-contrasena" [routerLink]="['/recuperar']" style="color: #3c3c7f;">¿Olvidaste la contraseña?</a>
      <br><br><br>
      <ion-row class="padding">
        <ion-col class="finalButtons">
          <ion-button type="submit" expand="block" class="secondButton">Iniciar sesión</ion-button>
        </ion-col>
      </ion-row>
    </form>


</ion-content>
